body{
    background-color: rgb(0, 255, 179);
    color: rgb(0, 102, 255);
}
.container{
        width: 100%;
        overflow: hidden;
    }  
.box{
    float: left;
    width: 33.33%;
    padding: 15px;
    color: white;
    box-sizing: border-box;
    }   

    .LeftAlign{
    background-color: rgb(148, 74, 13);
    border: 3px solid rgb(152, 126, 39);
    }
    .CenterAlign{
        background-color: rgb(111, 139, 36);
        border: 3px solid rgb(48, 140, 116);
    }
    .RightAlign{
        background-color: rgb(78, 48, 131);
        border: 3px solid rgb(124, 43, 134)
    }